body {
    font-family: sans-serif;
    background-color: black;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    margin-bottom: 20px;
}

.button {
    background-color: #36bbce;
    color: black;
    text-decoration: none;
    padding: 15px;
    font-size: 24px;
    border-radius: 10px;
    display: block;
}

nav {
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    padding: 25px 100px 25px 95px;
    display: flex;
    justify-content: space-between;
}

.nav-link {
    font-size: 24px;
    color: white;
    text-decoration: none;
    display: block;
}

h1 {
    text-align: center;
    color: white;
    font-size: 36px;
    margin-top: 45px;
    margin-bottom: 40px;
}

.post-text {
    font-size: 24px;
}

.info {
    display: flex;
    flex-wrap: wrap;
    max-width: 1100px;
    margin: 0 auto;
}

.post {
    background-color: white;
    padding: 15px 45px 30px 45px;
    width: 400px;
    margin: 20px;
    position: relative;
}

.article-but {
    text-decoration: none;
    background-color: #133aac;
    color: white;
    font-size: 24px;
    text-align: center;
    padding: 10px 75px 10px 75px;
    display: block;
}

.full-image {
    margin: 100px 0px 100px 0px;
}

.social {
    display: block;
    width: 30px;
}

footer {
    background-color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 30px 30px 20px 45px;
}

.footer-textx {
    font-size: 24px;
    margin-right: 30px;
}

.footer-textx span {
    color: #850AE5;
    font-weight: bolder;
}

aside {position: fixed;
top: 200px;
background-color: thistle;
opacity: 95%;
right: 0px;
padding-left: 10px;
width: 100px;
border-radius: 10px;
}

.saleee {width: 50px;
height: 50px;
position: absolute;
left: 440px;
top: 0px;
}

.leftimg {position: absolute;
width: 75px;
height: 75px;
top: 250px}

.rightimg {position: absolute;
width: 75px;
height: 75px;
right: 10px;
top: 250px;
}

h1::before{
    content: url(https://cdn-icons-png.flaticon.com/128/9425/9425231.png);
    display: l;
}

h1::after {
    content: url(https://cdn-icons-png.flaticon.com/128/10031/10031773.png);
}

.address::before {
    content: url(https://cdn-icons-png.flaticon.com/128/9045/9045107.png);
}

.footer-text::after {content: url(https://cdn-icons-png.flaticon.com/128/9800/9800549.png);
}
